import Vue from 'vue'
import { library } from '@fortawesome/fontawesome-svg-core'
import {
    faCircleNotch
} from '@fortawesome/free-solid-svg-icons'
import {
    faTwitter,
    faGithub,
    faCodepen,
    faLinkedinIn
} from '@fortawesome/free-brands-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

library.add({
    faCircleNotch,
    faTwitter,
    faGithub,
    faCodepen,
    faLinkedinIn
});

Vue.component('fontAwesomeIcon', FontAwesomeIcon);