// Animations //

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.rubberAnimation {
    animation: rubberBand 1s both;
    transform-origin: center bottom;
}

@keyframes teste {
    from {
        width: 100%;
    }
    to {
        width: 20%;
    }
}

// Page transitions

// Common settings, usually where transition is defined
.curtainTransition-enter-active, .curtainTransition-leave-active {
    @include transition (all, 4s);

    .transitionComponent {
        height: 100vh;
    }

    .leftBar, .rightBar {
        @include transition (transform, 1s);
    }

}

// When leaving the page
.curtainTransition-enter, .curtainTransition-leave-to {

    .transitionComponent .leftBar, .transitionComponent .rightBar {
        transform: translateX(0);
    }

}

// When entering the new page
.curtainTransition-enter-to, .curtainTransition-leave {

    .transitionComponent .leftBar {
        transform: translateX(-100%);
    }

    .transitionComponent .rightBar {
        transform: translateX(100%);
    }

}