// Animations //

@keyframes backgroundAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes teste {
    from {
        width: 100%;
    }
    to {
        width: 20%;
    }
}

// Page transitions

// Common settings, usually where transition is defined
.curtainTransition-enter-active, .curtainTransition-leave-active {
    @include transition (all, 4s);

    .transitionComponent {
        height: 100vh;
    }

    .leftBar, .rightBar {
        @include transition (transform, 1s);
    }

}

// When leaving the page
.curtainTransition-enter, .curtainTransition-leave-to {

    .transitionComponent .leftBar, .transitionComponent .rightBar {
        transform: translateX(0);
    }

}

// When entering the new page
.curtainTransition-enter-to, .curtainTransition-leave {

    .transitionComponent .leftBar {
        transform: translateX(-100%);
    }

    .transitionComponent .rightBar {
        transform: translateX(100%);
    }

}