// Animations //

@keyframes backgroundAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

// Page transitions

.fadeTransition-enter-active, .fadeTransition-leave-active {
    transition: opacity .3s ease;
}

.fadeTransition-enter, .fadeTransition-leave-active {
    opacity: 0;
}

.testTransition-enter-active, .testTransition-leave-active {
    @include transition (all, 1s);
}

.testTransition-leave-active {
    .transitionComponent {
        height: 100vh;

        .leftBar, .rightBar {
            height: 100%;
        }
    }
}

// .testTransition-enter-active {
//     .transitionComponent {
//         height: 0;

//         .leftBar, .rightBar {
//             height: 0;
//         }
//     }
// }