// Colors //
$black: #09101c;
$white: #ffffff;
$lightGrey: #ededed;
$grey: #d8d8d8;
$darkGrey: #8b8b8b;
$blue: #5066a7;
$darkBlue: #083c81;
$red:  #ef5350;
$orange: #e87600;
$darkOrange: #f26522;
$purple: #662d8c;

$aboutMeYellow: #ffc600;
$aboutMeOrange: #ff7200;
$aboutMeRed: #f44542;
$aboutMePurple: #fb94ff;
$aboutMeGreen: #a5ff90;
$aboutMeLightBlue: #9effff;

// bolas lighthouse #e1e1e1