// Colors //
$black: #09101c;
$white: #ffffff;
$grey: #e8f0f3;
$blue: #5066a7;
$darkBlue: #083c81;
$orange: #e87600;
$purple: #662d8c;

// Gradients //
$primaryGradient: linear-gradient(to right, $purple, $black);
$invertedPrimaryGradient: linear-gradient(to right, $black, $purple);

// Box-shadow //
$boxShadow: rgba(45,45,45,0.05) 0px 2px 2px, rgba(49,49,49,0.05) 0px 4px 4px, rgba(42,42,42,0.05) 0px 8px 8px, rgba(32,32,32,0.05) 0px 16px 16px, rgba(49,49,49,0.05) 0px 32px 32px, rgba(35,35,35,0.05) 0px 64px 64px;
$boxShadowHover: 0 2px 2px rgba(45,45,45,.03), 0 0 4px rgba(49,49,49,.03), 0 0 8px rgba(42,42,42,.03), 0 0px 16px rgba(32,32,32,.03), 0 0px 32px rgba(49,49,49,.03), 0 0px 64px rgba(35,35,35,.03);
$boxShadowButton: rgba(45,45,45,0.05) 0px 2px 2px, rgba(49,49,49,0.05) 0px 4px 4px, rgba(42,42,42,0.05) 0px 8px 8px, rgba(32,32,32,0.05) 0px 16px 16px;
$boxShadowButtonHover: 0 2px 2px rgba(45,45,45,.03), 0 0 4px rgba(49,49,49,.03), 0 0 8px rgba(42,42,42,.03), 0 0px 16px rgba(32,32,32,.03);