// Fonts //
$font: 'Anonymous Pro', sans-serif;
$fontRegular: 400;
$fontBold: 700;

// Font Sizes //
$fontGiant: 86px;
$fontXXL: 48px;
$fontXL: 30px;
$fontL: 24px;
$fontM: 17px;
$fontS: 15px;
$fontXS: 11px;
// Font Sizes Mobile //
$fontGiantMobile: 43px;
$fontXXLMobile: 24px;
$fontXLMobile: 24px;
$fontLMobile: 17px;
$fontMMobile: 15px;

// Font mixins //
@mixin fontGiant ($color: $white) {
    font-family: $font;
    font-size: $fontGiant;
    line-height: 70px;
    letter-spacing: 10px;
    color: $color;
    @include tablet {
        font-size: $fontGiantMobile;
        line-height: 40px;
        letter-spacing: 5px;
    }
}

@mixin fontXXL ($color: $white) {
    font-family: $font;
    font-size: $fontXXL;
    letter-spacing: .4px;
    line-height: 56px;
    color: $color;
    @include tablet {
        font-size: 34px;
        line-height: 40px;
    }
}

@mixin fontXL ($color: $white) {
    font-family: $font;
    font-size: $fontXL;
    line-height: 40px;
    letter-spacing: -.3px;
    color: $color;
    @include tablet {
        font-size: $fontXLMobile;
        line-height: 33px;
        letter-spacing: -.2px;
    }
}

@mixin fontL ($color: $white) {
    font-family: $font;
    font-size: $fontL;
    line-height: 33px;
    letter-spacing: -.2px;
    color: $color;
    @include tablet {
        font-size: $fontLMobile;
        line-height: 26px;
        letter-spacing: -.1px;
    }
}

@mixin fontM ($color: $white) {
    font-family: $font;
    font-size: $fontM;
    line-height: 26px;
    letter-spacing: -.1px;
    color: $color;
    @include tablet {
        font-size: $fontMMobile;
        line-height: 24px;
        letter-spacing: -.1px;
    }
}

@mixin fontS ($color: $white) {
    font-family: $font;
    font-size: $fontS;
    line-height: 24px;
    color: $color;
}

@mixin fontXS ($color: $white) {
    font-family: $font;
    font-size: $fontXS;
    line-height: 17px;
    color: $color;
}