// Generic Skeleton structure //
html {
    width: 100%;
    height: 100%;
}

body {
    min-height: 100%;
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    margin: 0;
    font-family: $font;
    font-weight: $fontRegular;
    -webkit-font-smoothing: antialiased;
    cursor: url('../images/mouseCursor.webp'), auto;
}

main {
    min-height: 100vh;
    position: relative;
    background: url('../images/background.webp') no-repeat center/cover;
    overflow: hidden; // because of shapes background movement

    > *:not(.menu):not(.navigation) {
        @include transition (filter, .4s);

        &.shapesBackground {
            transition: filter .4s, -webkit-filter .4s, transform .1s, -webkit-transform .1s; // so that it doesn't flick on the first mousemove; had to be given here, otherwise it would be overwritten by the filter transition
        }

    }

    &.blur > *:not(.menu):not(.navigation) {
        filter: blur(5px);
    }
}

section {
    width: 100%;
}

.wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    &.noPadding {
        padding: 0;
    }

}

a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}