// Generic Skeleton structure //
html {
    width: 100%;
    height: 100%;
}

body {
    min-height: 100%;
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    margin: 0;
    font-family: $font;
    font-weight: $fontRegular;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;

    &.noScroll {
        position: fixed;
        overflow-y: scroll;
    }

}

section {
    width: 100%;
}

.wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 4%;

    &.noPadding {
        padding: 0;
    }

}

a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

// Spacing //
.paddingTop80 {
    padding-top: 80px;
    @include tablet {
        padding-top: 40px;
    }
}

.paddingTop60 {
    padding-top: 60px;
    @include tablet {
        padding-top: 30px;
    }
}

.paddingTop40 {
    padding-top: 40px;
    @include tablet {
        padding-top: 20px;
    }
}

.paddingTop20 {
    padding-top: 20px;
    @include tablet {
        padding-top: 10px;
    }
}

.paddingTop0 {
    padding-top: 0;
}

.paddingBottom80 {
    padding-bottom: 80px;
    @include tablet {
        padding-bottom: 40px;
    }
}

.paddingBottom60 {
    padding-bottom: 60px;
    @include tablet {
        padding-bottom: 30px;
    }
}

.paddingBottom40 {
    padding-bottom: 40px;
    @include tablet{
        padding-bottom: 20px;
    }
}

.paddingBottom20 {
    padding-bottom: 20px;
    @include tablet {
        padding-bottom: 10px;
    }
}

.paddingBottom0 {
    padding-bottom: 0;
}