// Generic Skeleton structure //
html {
    width: 100%;
    height: 100%;
}

body {
    min-height: 100%;
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    margin: 0;
    font-family: $font;
    font-weight: $fontRegular;
    -webkit-font-smoothing: antialiased;
    background: #9c9c9c;
    overflow-x: hidden;

    &.noScroll {
        position: fixed;
        overflow-y: scroll;
    }

}

section {
    width: 100%;
}

.wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 4%;

    &.noPadding {
        padding: 0;
    }

}

a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}